<% layout('layouts/boilerplate') %>

<body>
    <main id="main">
        <table>
            <!-- <caption>Our delicious selection of pies for you to enjoy!</caption> -->
            <!-- <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Details</th>
                </tr>
            </thead> -->

            <tbody>
                <tr>
                    <td colspan="4"> Here are the pies of Bethany</td>
                </tr>
                <% for( pie of pies ) { %>
                    <tr>
                        <td><img src="/<%= pie.image %> " alt="" width=100></td>
                        <td><%= pie.name %> </td>
                        <td><%= pie.description %> </td>
                        <td><%= pie.price %> </td>
                        <td><%= pie.details %> </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>

    </div>
</body>

</html>